body {
  background-color: rgb(43, 43, 43);
  color: rgb(150, 148, 148);
  
}

.companyName {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(67, 67, 68);
  color: white;
  font-size: 24px;
}

#logo {
  margin-right: 1vw;
}

#description {
  margin: 0 0 24px;
  text-align: center;
  text-justify: inter-word;
  line-height: 145%;
  letter-spacing: 0.1em;
  font-weight: 200px;
}

.stock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: rgb(199, 198, 198);
}

#percChange {
  margin-left: 0.5vw;
  font-weight: bold;
}

.chart-container {
  position: relative;
  height: 60vh;
  width: 60vw;
  margin: auto;
}
