/* *{
  border: 1px solid red;
} */

body {
  background-color: rgb(161, 160, 160);
}

li {
  list-style: none;
  padding: 4px;
  color: black;
}

.container {
  height: fit-content;
  background-color: rgb(207, 202, 202);
  box-shadow: 10px 10px 5px rgb(53, 52, 52);
  width: fit-content;
}

.searchBar {
  display: flex;
  margin-top: 8vh;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

#input {
  width: 450px;
}

.results {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: rgb(206, 50, 50);
}

#button {
  width: 100px;
  border: 2px solid rgb(94, 92, 92);
}
.marquee {
  height: 25px;

  background-color: white;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  animation: marquee 120s linear infinite;
  width: max-content;
}
.wrapper {
  background-color: white;
}

.marquee span {
  display: inline-block;
  width: max-content;
  margin-left: 2vw;
  margin-right: 2vh;
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


.priceSpan {
  color: green;
}
